/*
-ESTILOS UTILIZADOS EM TODAS AS PÁGINAS-
*/
header /*Estilo utilizado no cabeçalho.*/{
	text-align: center;
	background: lightsteelblue;
	border-width: 1px;
    border-style: solid;
    border-color: black;
}
footer /*Estilo utilizado no Rodapé.*/{
	text-align: center;
	background: lightgreen;
	border-width: 1px;
    border-style: solid;
    border-color: black;
}
body /*Estilo utilizado no corpo do site.*/{
	background: lightblue;
}

a {  /*Estilo utilizado nas ancoras, de acordo com enunciado..*/
	font-style: italic;
	font-family: arial;
}

h1,h2,h3 { /*Estilo utilizado nos títulos definidos por H1,H2 E H3.*/
	color: darkblue;
}


/*FIM DOS ESTILOS GERAIS USADOS EM TODAS AS PÁGINAS*/


.titulo { /*Estilo utilizado nos locais com class="titulo".*/
	text-align: center;
	border-width: 1px;
    border-style: solid;
    border-color: black;
}

.menu { /*Estilo utilizado nos locais com class="menu" */
	color: white;
	text-align: center;
	border-width: 1px;
    border-style: solid;
    border-color: white;
    background: steelblue;
}
.topico, h4 {  /*Estilo utilizado nos locais com class="menu" e H4 */
	text-align: left;
	border-width: 1px;
    border-style: solid;
    border-color: black;
    background: lightsteelblue;
}

/*Lucas Lavor*/
.curso {
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: green;
	background-color: #000;
}

li{
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: green;
	color: blue;

}
article{
	font-weight: bold;
}
/*Lucas Lavor*/
